<html>
<head>
<title>{{title}} - links</title>
</head>
<body>

<form id="upload" method="post" enctype="multipart/form-data" action="http://en.wikipedia.org/w/index.php?title={{urlquote(title)}}&action=edit" style="display:inline">
<input type="hidden" name="wpTextbox1" value="{{ content }}">
<input type="hidden" name="wpSummary" value="{{summary}}">
<input type="hidden" name="wpStarttime" value="{{start_time}}">
<input type="hidden" name="wpEdittime" value="{{timestamp}}"> 
<input type="hidden" name="wpDiff" value="wpDiff">
<input type="hidden" name="wpMinoredit" value="1">

<input id="thebutton" type="submit" name="wpSave" value="Save page">
</form>
<body onload="document.getElementById('thebutton').click();">

</body>
</html>
