<html>
<head>
<title>{{title}} - links</title>
</head>
<body>

<form id="upload" method="post" enctype="multipart/form-data" action="https://{{ current_lang }}.wikipedia.org/w/index.php?title={{urlquote(title)}}&action=edit" style="display:inline">
<input type="hidden" name="wpTextbox1" value="{{ content }}">
<input type="hidden" name="wpSummary" value="{{summary}}">
<input type="hidden" name="wpStarttime" value="{{start_time}}">
<input type="hidden" name="wpEdittime" value="{{timestamp}}">
<input type="hidden" name="wpDiff" value="Show changes">
<input type="hidden" name="wpMinoredit" value="1">
<input type="hidden" name="wpUnicodeCheck" value="ℳ𝒲♥𝓊𝓃𝒾𝒸ℴ𝒹ℯ">
<input type="hidden" name="mode" value="preview">
<input type="hidden" name="format" value="text/x-wiki">
<input type="hidden" name="model" value="wikitext">
<input type="hidden" name="wpUltimateParam" value="1">

<input id="thebutton" type="submit" value="Save page">
</form>
<body onload="document.getElementById('thebutton').click();">

</body>
</html>
